/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: normal;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: bold;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2");
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'San Francisco';
    font-weight: 200;
}
p, div {
    font-family: 'San Francisco';
}

body {
  font-size: 13px;
  line-height: 20px;
}

.left-pane {
	width: 20%;
  float:left; 
}

.content-pane {
	width: 30%;
  float:left;
}

.visualization-pane {
  width: 50%;
  margin-left: 50px;
  float:left;
}

.graph-container {
  width: 100%;
  margin-top: 50px;
  box-shadow: 0 0px 0px;
}

.heading {
  text-align: center
}

.hero-landing {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url(../images/foggyforrest.jpg);
  background-size: cover;
  width: auto;
  height: 800px;
}

.hero-content {
  margin-top: 15%;
  margin-bottom: 15%;
}

.hero-content h1 {
  font-size: 6em;
}

.heart {
  color: #c33;
}

footer {
  background-color: #425424;
  color: #90a4ae;
  clear: both;
  text-align: left;
  padding: 5px 15px;
  margin-top: 40px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 35px;
}

