html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

.left-pane {
	width: 20%;
  float:left; 
}

.content-pane {
	width: 30%;
  margin-left: 50px;
  float:left;
}

.visualization-pane {
  width: 50%;
  margin-left: 50px;
  float:left;
}

.graph-container {
  width: 100%;
  margin-top: 50px;
}

.heading {
  text-align: center
}

.hero-landing{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

.hero-content{
  margin-top: 15%;
  margin-bottom: 15%;
}
.hero-content h1{
  font-size: 6em;
}
